# .git
.git 
.gitignore
.github

# cache
.cache 
__pycache__/

# dockerfiles
Dockerfile
.dockerignore

# security
.env

# files
model_train/
docs/
static/
*.jpg
*.png
*.jpeg
*.pt
*.onnx

# etc
*.zip
*.md